// @import '../../node_modules/slick-carousel/slick/slick.scss';
@import '../../node_modules/magnific-popup/src/css/main.scss';
@import 'global/global';


.header {
    padding-top: 100px;

    &__content {
        max-width: 515px;
        width: 100%;
        margin-right: 85px;
        min-height: 480px;
    }

    &__logo {
        margin-bottom: 60px;
    }

    &__text {
        margin-bottom: 50px;
    }
}

.mentor {
    &__container {
        background-color: $s;
        padding: 30px;
        padding-right: 0;
        position: relative;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        background-color: $d;
        color: $l;
    }

    &__content {
        padding: 30px 40px 30px 60px;
    }

    &__title {
        text-transform: uppercase;
        font-size: 16px;
        margin-bottom: 50px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }

    &__awards {
        position: absolute;
        width: 600px;
        max-height: 0;
        right: -5px;
        top: -5px;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(4px);
        border-radius: 6px;
        z-index: -1;
        transition: max-height 0.5s, padding 1s, box-shadow 0.5s;
        padding: 0;
        overflow: hidden;
    }


    &__details {
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 10;

        &:hover {
            .mentor__awards {
                max-height: 350px;
                padding: 25px 50px 25px 25px;
                box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.6);
            }
        }
    }

    &__awards-list {
        height: 100%;
        column-count: 2;
        column-gap: 20px;
    }

    &__awards-item {
        margin-bottom: 10px;
    }

    &__name {
        font-size: 40px;
        margin-bottom: 50px;
    }

    &__text {
        margin-bottom: 30px;

        p:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    &__details-icon {
        stroke: $s;
    }

    &__social {
        display: flex;
        gap: 25px;
    }

    &__social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 6px;
        transition: outline 0.5s, opacity 0.3s;

        &:hover, &:focus {
            outline: 1px solid $a;
            outline-offset: 4px;
        }
    
        &:active {
            opacity: 0.5;
        }
    }

    &__social-icon {
        fill: $s;
    }
}

.mentor-works {
    position: absolute;
    background-color: $d;
    right: 0;
    top: -90%;
    max-width: 814px;
    padding: 35px;
    height: 600px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
    }

    &__link {
        display: block;

        transition: transform 0.4s, box-shadow 0.3s;

        &:hover {
            transform: scale(140%, 130%);
            box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.3)
        }
    }

    &__img {
        width: 231px;
        height: 158px;
        object-fit: cover;
    }

    &--vertical-lines {
        .mentor-works__list {
            flex-wrap: nowrap;
            height: 100%;
        }

        .mentor-works__link {
            height: 100%;
            transition: transform 0.4s, box-shadow 0.3s;

            &:hover {
                transform: scale(140%, 130%);
                box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3)
            }
        }

        .mentor-works__img {
            height: 100%;
        }
    }
}

.how {
    padding: 60px 0;

    &__title {
        font-size: 40px;
        margin-bottom: 60px;
    }

    &__list {
        margin-bottom: 80px;
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &__item {
        max-width: 300px;
        width: 100%;
        box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.25);
        padding: 25px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        gap: 30px;
        position: relative;
        z-index: 1;


        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba($l, 0.6);
            z-index: -1;
        }

        &:before {
            position: absolute;
            color: rgba($s, 0.2);
            font-size: 300px;
            top: 50%;
            transform: translateY(-50%);
            left: -40px;
            z-index: -1;
        }

        &--1 {
            &:before {
                content: '1';
            }
        }
        &--2 {
            &:before {
                content: '2';
            }
        }
        &--3 {
            &:before {
                content: '3';
            }
        }
        &--4 {
            &:before {
                content: '4';
            }
        }

    }

    &__bottom {
        text-align: center;
        font-size: 16px;
    }

    &__bottom-text {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__date {
        font-size: 40px;
        display: block;
        margin-bottom: 30px;
    }
}

.pay {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer {
    background-color: $d;
    text-align: center;
    padding: 15px 0;

    &__link {
        font-size: 16px;
        color: $l;
        transition: color 0.3s, opacity 0.3s;

        &:hover, &:focus {
            color: $a;
        }

        &:focus {
            opacity: 0.7;
        }
    }
}